README.el
README.html
custom.el
elpa
eshell
ido.last
projectile-bookmarks.eld
transient
local.el
auto-save-list
smex-items
tramp
/custom.el~
network-security.data
/.org-id-locations
/url/
/new.el
/new.html
/ido.last~
/old.el
