.lsp-session-v1
auto-save-list/**/*
custom.el
elpa/**/*
ido.last
projectile-bookmarks.eld
smex-items
transient/**/*
bookmarks
README.el
eshell/**/*
README.html
local.el
tramp
org-clock-save.el
.cache
